{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="page">
  {% if user.is_authenticated %}
    <div id="add_post" class="card shadow">
      
        <form id="compose_post" class="card-body" action="{% url 'add_post' %}" method="POST">
          {% csrf_token %}
          <div class="new_post">
            {% if img %}
            <img class="img_add_post"src="{{img}}" alt="">
            {% else %}
            <img class="img_add_post"src="https://robohash.org/{{user.id}}?200x200" alt="">
            {% endif %}
            <textarea id="new_post" placeholder="What are you thinking about, {{user.username}}?" name="body_text"></textarea>
          </div>

          <div class="add_post"><input class="btn btn-primary" type="submit" value="Add post"></div>
        </form>
    </div>
  {% endif %}

  <div id="container_posts" data-person="{{ user.id }}">
    {% for item in page_obj %}
    <div class="post_item card shadow">
        <div class="card-header">
            <div><a href="{% url 'user_detail_profil' item.sender %}">{{item.sender_name}}</a></div> 
            {% if user.id == item.sender %}
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="{{item.id}}">Edit</button>
            {% endif %}
           
        </div>
        <div class="card-body">    
            <div><small>{{item.timestamp}}</small></div>
            <div id="body{{item.id}}">{{item.body_text}}</div>
            <hr>
            <div class="like_comments">

                <div class="like_btn_comment_name">
                    <div class="like_button">
                        <form id="{{item.id}}" class="form_add_like" >
                            {% csrf_token %}
                            <button id="" class="btn btn-outline-info" type="submit" data-person_id="{{item.sender}}" data-post_id="{{item.id}}"><i class="bi bi-hand-thumbs-up"></i></button>
                        </form>
                        <div id="count{{item.id}}">{{item.likes_count}}</div>
                        <div>&nbsp; likes</div> 
                    </div>

                    <div class="comments_name" data-post_id="{{item.id}}">
                        <button type="button" class="btn btn-outline-info">Comments</button>
                    </div>
                </div>

                <div class="comments_section" id="comments_section{{item.id}}">
                    
                    <div class="card comment_card shadow">
                        <div class="card-header">
                            <div>Add comment</div>
                        </div>
                        <div class="card-body form">
                            <form id="new_comment{{item.id}}" class="card-body new_post">
                                {% if img %}
                                    <img class="img_add_post comm_img"src="{{img}}" alt="">
                                {% else %}
                                    <img class="img_add_post"src="https://robohash.org/{{user.id}}?200x200" alt="">
                                {% endif %}
                                
                                <textarea id="new_comment_text{{item.id}}" placeholder="Your comment here ..."></textarea>
                                <!-- <input type="submit" value="Send"> -->
                                <button type="submit" class="btn btn-outline-info">Send</button>
                            </form>
                        </div>
                    </div>
                    <br>
                    
                    <div class="comments_all" id="comments_all{{item.id}}">
                        {% for comment in item.comments %}
                        <div class="card comment_card shadow comments">
                            
                                <div class="card-header">
                                    <div><a href="{% url 'user_detail_profil' comment.sender %}">{{ comment.sender_name }}</a></div>
                                    <div><small>{{ comment.timestamp }}</small></div>
                                </div>

                                <div class="card-body"> 
                                    <div>{{ comment.body_text }}</div>
                                </div>
                        
                            
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <hr class="hr_bottom">
        </div>
    </div>
    
    {% endfor %}
  </div>
</div>

<div class="pagination justify-content-center">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>

{% if user.is_authenticated %}
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Editing your post...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="edit" >
              {% csrf_token %}
              <div class="mb-3">
                <label for="message-text" class="col-form-label">What did you realy think?:</label>
                <textarea class="form-control" id="message-text" name=""></textarea>
              </div>
            
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Send message</button>
              </div>

            </form>
        </div>
      </div>
  </div>
  {% endif %}

    
{% endblock %}
{% block script %}
    <script src="{% static 'network/following.js' %}"></script>
    <script src="{% static 'network/index.js' %}"></script>

{% endblock %}